body {
	background-image: url(../img/background.png);
	color: #F1F1F1;
}

#links {
	margin: 20px;
}

.panel {
	padding: 30px;
	border: thin;
	border-style: solid;
	background-color: rgba(255, 255, 255, 0);
}

#addressPanel {
	display: none;
}

.updateUser, .updateRole {
	color: #49c837;
}

.deleteUser, .deleteRole {
	color: #f23535;
}

.deleteRole:hover, .deleteUser:hover, .updateUser:hover, .updateRole:hover
	{
	color: #F1F1F1;
	cursor: pointer;
}