body {
	background-image: url(../img/background.png);
	color: #F1F1F1;
}

#cercle {
	text-align: center;
	background: #c71f1f;
	border-radius: 50%;
	width: 160px;
	height: 160px;
	border: 2px solid #F1F1F1;
	background: #c71f1f;
}

#carre {
	background: #24dbb1;
	width: 160px;
	height: 160px;
	border: 2px solid #F1F1F1;
}

#links {
	margin: 20px;
}

#avatar {
	max-width: 75px;
	max-height: 75px;
	display: inline-block;
	margin: 10px;
}

.avatarTable{
	max-width: 40px;
	max-height: 40px;
}

.panel {
	padding: 30px;
	border: thin;
	border-style: solid;
	background-color: rgba(255, 255, 255, 0);
}

#addressPanel {
	display: none;
}

.updateUser, .updateRole {
	color: #49c837;
}

.deleteUser, .deleteRole {
	color: #f23535;
}

.deleteRole:hover, .deleteUser:hover, .updateUser:hover, .updateRole:hover
	{
	color: #F1F1F1;
	cursor: pointer;
}